<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="@Url.Content("~/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/business-casual.css")" rel="stylesheet">
    @*<script src="~/Scripts/agency.js"></script>*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Game", "Index", "Game")</li>
                    <li>@Html.ActionLink("Race", "NextRace", "Game")</li>
                    <li>@Html.ActionLink("Group", "Index", "Group")</li>
                    <li>@Html.ActionLink("LeaderBoard", "Ranking", "Leaderboard")</li>
                    @if (Request.IsAuthenticated)
                    {
                        if (Session["UserAdmin"] != null)
                        {
                            if (Session["UserAdmin"].ToString() == "1")
                            {
                                <li>@Html.ActionLink("Admin Page", "AdminPage", "Admin")</li>
                            }
                        }

                        using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()

                            <li>
                                <a href="javascript:document.getElementById('logoutForm').submit()">
                                    Log off
                                    <span class="glyphicon glyphicon-log-out"></span>
                                </a>
                            </li>
                        }
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Login", "User")">
                                <span class="glyphicon glyphicon-log-in"></span>
                                Login
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        @*<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="@Url.Content("~/js/bootstrap.js")"></script>
    @RenderSection("scripts", false)

</body>

</html>